/** Begin reset */
* {
  margin : 0;
  padding : 0;
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  -box-sizing        : border-box;
}
h1,h2,h3,h4,h5,h6,p { margin-bottom : 6pt; }
ol,ul,dl { list-style-position : inside; }
/** End reset */    

/** Begin standard selectors */
body {
  font : 16px Avenir, 'Helvetica neue', Helvetica, '游ゴシック', YuGothic, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  color : #444;
  background-color : #888;
}
a { text-decoration : none; }
a:link, a:visited { color : inherit; }
a:hover { text-decoration : underline; }

strong {
  font-weight : 800;
  color       : #000;
}
/** End standard selectors */

/* utility */
.cards-util-hide {
  display: none !important;
}

#cards {
  font-size: 1.05em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background: #ddd;
}

.cards-item {
  position: relative;
  margin: .5em auto;
  min-height: 4em;
  width: 100%;
  background: #F9F2E7;
  box-shadow: 0 0 .1em #777;
  transition: box-shadow 300ms, width 300ms;
  overflow: hidden;
}
.cards-item.before-render {
  /*   width: 0; */
}
.cards-item.blink {
  box-shadow: 0 0 .6em #40C0CB;
}
.cards-item.blink-red {
  box-shadow: 0 0 .6em #CB4040;
}

.cards-item .cards-item-cover {
  display: none;
}
.cards-content.annot-move-mode .cards-item .cards-item-cover {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.cards-item .item-content {
  margin: .3em 2em .3em .4em;
}

.cards-item .item-content .item-title {
  margin: 0;
  font-size: .95em;
  font-weight: bold;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cards-item.opened .item-content .item-title {
  white-space: normal;
}

.cards-item .item-content .item-meta {
  margin: 0;
  font-size: .75em;
}

/* .cards-item .item-content .item-meta .date, */
.cards-item .item-content .item-meta .colls {
  display: inline;
}

.cards-item .item-content .item-meta li {
  display: inline-block;
  margin: 0 .3em;
  max-width: 20em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cards-item .item-content .item-meta li i {
  color: #777;
}

.cards-item .item-content .item-body {
  margin: .2em 0;
  font-size: .95em;
  line-height: 1.3em;
  max-height: calc(1.3em * 3 - 2px);  /* ? fix for chrome on android */
  word-wrap: break-word;
  overflow-y: hidden;
}
.cards-item.opened .item-content .item-body {
  max-height: initial;
}

.cards-item.checked {
  box-shadow: 0 0 .6em #40C0CB;
  /*   box-shadow: 0 0 .4em #00A8C6; */
}

.cards-item .item-check-trigger,
.cards-item .item-edit-trigger {
  position: absolute;
  right: 0;
  width: 2em;
  height: 2em;
  background: inherit;
  cursor: pointer;
}
.cards-item .item-check-trigger {
  top: 0;
}
.cards-nav.annot-trigger-opened .cards-item .item-edit-trigger,
.cards-content.annot-move-mode .cards-item .item-check-trigger,
.cards-content.annot-move-mode .cards-item .item-edit-trigger {
  display: none;
}
.cards-item .item-edit-trigger {
  bottom: 0;
  color: #999;
  line-height: 2em;
  text-align: center;
}

.cards-item .item-checkbox,
.cards-item .item-checkbox-checked {
  position: absolute;
  font-size: 1.3em;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: calc(2em / 1.3);
  color: #999;
  background: inherit;
  overflow: hidden;
}
.cards-item .item-checkbox-checked {
  height: 0;
}
.cards-item.checked .item-checkbox-checked {
  height: 100%;
}

.cards-hello-world {
  position: absolute;
  bottom: 3em;
  /*   height: calc(100vh - 6em); */
  height: calc(100% - 6em);
  left: 0;
  right: 0;
  transition: bottom 500ms ease;
  /*   background: rgba(0, 0, 0, 0.5); */
  /*   z-index: 1; */
}
.cards-hello-world.hide {
  /*   bottom: 100vh; */
  bottom: 100%;
}

.cards-hello-world .greeting-card {
  position: absolute;
  top: 1em;
  bottom: 1em;
  max-width: 45em;
  margin: auto;
  left: 1em;
  right: 1em;
  background: #F9F2E7;
  box-shadow: 0 0 .3em #777;
  /*   box-shadow: 0 0 .5em #40C0CB; */
  overflow: scroll;
}

.cards-hello-world .greeting-card .greeting-wrapper {
  position: absolute;
  top: calc(50% - 8.5em);
  left: 0;
  right: 0;
}

.cards-hello-world .greeting-card .greeting {
  font-family: Raleway;
  font-size: 2em;
  font-weight: bold;
  width: 100%;
  margin: 1em 0 1.5em;
  text-align: center;
}

.cards-hello-world .greeting-card .start-menu {
  width: 100%;
  margin-bottom: 1em;
  text-align: center;
}

.greeting-card .start-menu .cards-sign-in,
.greeting-card .start-menu .cards-try-demo {
  display: inline-block;
  font-size: 1em;
  margin: .5em;
  padding: .5em .7em;
  border-radius: .1em;
  font-weight: bold;
  background: #F9F2E7;
  /*   box-shadow: 0 0 .2em #777; */
  border: .15em solid #bbb;
  cursor: pointer;
}

.greeting-card .start-menu a .cards-try-demo {
  border: .15em solid #bbb;
}
