/* custom property Chrome 49+ (Feb 29th, 2016)
:root {
  --nav-head-color: #eee;
}
*/

.cards-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 3em;
  transition: height 350ms ease;
  overflow: hidden;
  /*   background: #EAE4DD; */
  background: #ddd;
  z-index: 2;
  box-shadow: 0 0 .3em #777;
}

.cards-nav.opened {
  /* height: calc(100vh - 3em); */  /* .cards-editor/height */
  height: 100vh;
}

.cards-nav-head-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 3em;
  background: #00A8C6;
  z-index: 1;
  box-shadow: 0 0 .3em #777;
}

.cards-nav-head,
.cards-nav-content-wrapper
{
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  max-width: 45em;
}

.cards-nav-head {
  height: 3em;  /* .cards-nav/height - margin-tb */
  overflow: hidden;
  background: inherit;
}

.cards-nav-head .nav-trigger,
.cards-nav-head .title,
.cards-nav-head .search-input,
.cards-nav-head .clear-search-input,
.cards-nav-head .annot-search-input,
.cards-nav-head .clear-annot-search-input,
.cards-nav-head .nav-annot-closer,
.cards-nav-head .nav-annot-saving,
.cards-nav-head .annot-trigger-wrapper,
.cards-nav-head .annot-move-control {
  position: absolute;
  height: 100%;
  /*   background: #00A8C6; */
  background: inherit;
  color: #eee;
}

.cards-nav-head .annot-search-input:placeholder-shown,
.cards-nav-head .search-input:placeholder-shown {
  color: #dfdfdf;
}
.cards-nav-head .annot-search-input::-webkit-input-placeholder,
.cards-nav-head .search-input::-webkit-input-placeholder {
  color: #dfdfdf;
}
.cards-nav-head .annot-search-input::-moz-placeholder,
.cards-nav-head .search-input::-moz-placeholder {  /* firefox */
  color: #dfdfdf;
  opacity: 1;
}

.cards-nav-head .nav-trigger,
.cards-nav-head .nav-annot-closer,
.cards-nav-head .nav-annot-saving {
  left: 0;
  width: 3em;
  cursor: pointer;
}

.cards-nav-head .nav-opener,
.cards-nav-head .nav-closer
{
  position: absolute;
  width: 100%;
  transition: height 250ms ease;
  line-height: 3em;
  text-align: center;
  overflow: hidden;
}
.cards-nav-head .nav-opener {
  bottom: 0;
  height: 100%;
}
.cards-nav.opened .cards-nav-head .nav-opener {
  height: 0;
}
.cards-nav-head .nav-closer {
  top: 0;
  height: 0;
}
.cards-nav.opened .cards-nav-head .nav-closer {
  height: 100%;
}

.cards-nav-head .nav-annot-closer,
.cards-nav-head .nav-annot-saving {
  left: 0;
  width: 0;
  transition: width 250ms ease;
  text-align: center;
  line-height: 3em;
  overflow: hidden;
}
.cards-nav.annot-opened .cards-nav-head .nav-annot-closer {
  width: 3em;
}
.cards-nav.annot-saving .cards-nav-head .nav-annot-saving {
  width: 3em;
}

.cards-nav-head .title {
  left: 3em;  /* .index-trigger/width */
  right: 0;
  padding: 0 .5em;
  font-size: 1em;
  font-weight: bold;
  line-height: 3em;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cards-nav-head .search-input,
.cards-nav-head .annot-search-input {
  transition: width 250ms ease, right 250ms ease;
  right: 0;
  width: 0;
  border: 0;
  padding: 0;
  font-size: 1em;
  outline: none;
  /*   color: #444; */
}
.cards-nav.opened .cards-nav-head .search-input,
.cards-nav.annot-opened .cards-nav-head .annot-search-input {
  padding: 0 .5em;
  width: calc(100% - 3em);
}
.cards-nav.opened .cards-nav-head .search-input.not-empty,
.cards-nav.annot-opened .cards-nav-head .search-input.not-empty {
  right: 3em;
  width: calc(100% - 6em);
}

.cards-nav-head .clear-annot-search-input,
.cards-nav-head .clear-search-input {
  right: 0;
  width: 0;
  transition: width 250ms ease;
  text-align: center;
  line-height: 3em;
  cursor: pointer;
}
.cards-nav.opened .search-input.not-empty + .clear-search-input,
.cards-nav.annot-opened .annot-search-input.not-empty + .clear-annot-search-input {
  width: 3em;
}

.cards-nav-head .annot-trigger-wrapper {
  top: 0;
  right: 0;
  left: 100%;
  width: 100%;
  overflow: hidden;
  /*   transition: width 250ms; */
  transition: left 250ms ease;
}
.cards-nav.annot-trigger-opened .cards-nav-head .annot-trigger-wrapper {
  /*   width: 100%; */
  left: 0;
}

.cards-nav.annot-opened .cards-nav-head .annot-trigger-wrapper {
  left: 100% !important;
}
/* 
   .cards-nav-head .annot-target-clear {
   position: absolute;
   top: .5em;
   left: .5em;
   height: 2em;
   width: 2em;
   text-align: center;
   line-height: 2em;
   } */

.cards-nav-head .annot-target-indicator {
  position: absolute;
  top: .5em;
  left: 1em;
  min-width: 2em;
  height: 2em;
  /*   padding: 0 .5em; */
  text-align: center;
  line-height: 2.1em;
  /*   border-radius: 50%; */
  /*   background: rgba(238, 238, 238, 0.75); */
  /*   color: #444; */
  /*   box-shadow: 0 0 .5em #40c0cb; */
  font-weight: bold;
}

.cards-nav-head .annot-trigger {
  position: absolute;
  right: .5em;
  height: 100%;
}

.cards-nav-head .annot-trigger li {
  display: inline-block;
  font-size: 1.2em;
  width: calc(2.5em / 1.2);
  text-align: center;
  line-height: 2.5em;
  cursor: pointer;
}

.cards-nav.opened .annot-trigger li.move,
.cards-nav.content-is-not-note .annot-trigger li.move {
  display: none;
}

.cards-nav-head .annot-trigger li.clear-check i {
  font-weight: bold;
}

.cards-nav-head .annot-move-control {
  right: 100%;
  width: 100%;
  height: 100%;
  transition: right 250ms ease;
  overflow: hidden;
}
.cards-nav.annot-move-mode .cards-nav-head .annot-move-control {
  right: 0;  /* annot-closer/width */
}
.cards-nav-head .annot-move-control .annot-move-cancel {
  position: absolute;
  left: 0;
  width: 3em;
  height: 100%;
  text-align: center;
  line-height: 3em;
  cursor: pointer;
}
.cards-nav-head .annot-move-control .annot-move-msg {
  position: absolute;
  left: 3em;
  height: 100%;
  text-align: center;
  line-height: 3em;
}

.cards-nav-content-wrapper {
  top: 3em;  /* .cards-nav-head/height */
  bottom: 0;
  background: inherit;
  overflow: hidden;
}

.cards-nav-content,
.cards-nav-annotator {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  transition: left 350ms ease;
  overflow: scroll;
}

.cards-nav-content {
  background: inherit;
}

.cards-nav-annotator {
  left: -100%;
  background: inherit;
  /*   background: #ccc; */
}
.cards-nav.annot-opened .cards-nav-annotator {
  left: 0;
}

.cards-nav-annotator .nav-index,
.cards-nav-content .nav-index {
  margin: .5em;
}

.cards-nav-annotator .nav-index .nav-index-title,
.cards-nav-content .nav-index .nav-index-title {
  display: inline-block;
  font-size: .7em;
  font-weight: bold;
  padding: .25em .5em;
  margin-bottom: .2em;
  /*   border-radius: .2em; */
  background: #888;
  color: #eee;
  box-shadow: 0 0 .1em #777;
}

.cards-nav-content .nav-index.special .nav-index-title {
  display: none;
}

.cards-nav-annotator .nav-index li.nav-index-item,
.cards-nav-content .nav-index li.nav-index-item,
.cards-nav-annotator .nav-index li.nav-index-item-new,
.cards-nav-content .nav-index li.nav-index-item-new {
  position: relative;
  display: block;
  height: 2.5em;
  margin: 3px 0;
  line-height: 2.5em;
  /*   border-radius: .2em; */
  overflow: hidden;
  background: #F9F2E7;
  box-shadow: 0 0 .1em #777;
  transition: box-shadow 300ms;
}
.nav-index li.nav-index-item.blink {
  box-shadow: 0 0 .6em #40C0CB;
}
.cards-nav-content .nav-index li.nav-index-item.blink-red {
  box-shadow: 0 0 .6em #CB4040;
}

.cards-nav-annotator .nav-index li.nav-index-item i,
.cards-nav-content .nav-index li.nav-index-item i,
.cards-nav-annotator .nav-index li.nav-index-item-new i,
.cards-nav-content .nav-index li.nav-index-item-new i {
  color: #888;
}

.nav-index li.nav-index-item .coll-type-icon,
.nav-index li.nav-index-item-new .coll-type-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 2em;
  text-align: center;
  line-height: 2.5em;
}
.nav-index li.nav-index-item .title,
.nav-index li.nav-index-item-new .title {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2em;
  right: 2.5em;
  transition: right 250ms ease;
  line-height: 2.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  outline: none;
}
.nav-index li.nav-index-item.config-menu-opened .title {
  right: 7.5em;
}
.nav-index li.nav-index-item.config-menu-opened.edit-mode .title {
  overflow: scroll;
  text-overflow: clip;
  right: 2.5em;
}

.nav-index li.nav-index-item-new .title[contentEditable]:empty:not(:focus):before {
  content: attr(data-text);
  color: #aaa;
}
.nav-index li.nav-index-item-new .item-add-trigger,
.nav-index li.nav-index-item-new .syncing {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 2.5em;
  text-align: center;
  line-height: 2.5em;
  background: inherit;
  cursor: pointer;
}

.nav-index li.nav-index-item-new .syncing {
  display: none;
}
.nav-index li.nav-index-item-new.syncing .syncing {
  display: block;
}

.nav-index li.nav-index-item .item-config-trigger i,
.nav-index li.nav-index-item .syncing i,
.nav-index li.nav-index-item-new .item-add-trigger i {
  color: #999;
}

.cards-nav-annotator .nav-index li.nav-index-item .item-config-menu,
.cards-nav-annotator .nav-index li.nav-index-item .item-config-trigger {
  display: none;
}
.cards-nav-content .nav-index.special li.nav-index-item .item-config-trigger {
  display: none;
}
.cards-nav-content .nav-index li.nav-index-item .item-config-trigger,
.cards-nav-content .nav-index li.nav-index-item .syncing {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 2.5em;
  text-align: center;
  line-height: 2.5em;
  background: inherit;
  cursor: pointer;
}
.nav-index li.nav-index-item .syncing {
  display: none;
}
.cards-nav-content .nav-index li.nav-index-item.syncing .syncing {
  display: block;
}

.nav-index li.nav-index-item .item-config-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -7.5em;
  transition: right 250ms ease;
  background: inherit;
  overflow: hidden;
}
.nav-index li.nav-index-item.config-menu-opened .item-config-menu {
  right: 0;
}

li.nav-index-item .item-config-menu > * {
  float: left;  /* inline-blockにすると，スペースが入ってしまうので */
  width: 2.5em;
  transition: width 250ms ease;
  height: 100%;
  line-height: 2.5em;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}
li.nav-index-item.edit-mode .item-config-menu .edit,
li.nav-index-item.edit-mode .item-config-menu .delete {
  width: 0;
}

.cards-nav-content .nav-index li.nav-index-item .item-check-trigger {
  display: none;
}
.cards-nav-annotator .nav-index li.nav-index-item .item-check-trigger {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 2.5em;
  background: inherit;
  cursor: pointer;
}
.nav-index li.nav-index-item .item-checkbox,
.nav-index li.nav-index-item .item-checkbox-checked {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 2.5em;
  background: inherit;
  overflow: hidden;
}
.nav-index li.nav-index-item .item-checkbox-checked {
  height: 0;
}
.nav-index li.nav-index-item.checked .item-checkbox-checked,
.nav-index li.nav-index-item.partial .item-checkbox-checked {
  height: 100%;
}
.nav-index li.nav-index-item.partial .item-checkbox-checked i {
  color: #bbb;
}
.nav-index li.nav-index-item.checked {
  /*   box-shadow: 0 0 .5em #40C0CB; */
}

.cards-nav-content .search-result {
  padding: 0 .5em;
}

.cards-nav-content .search-result .searching {
  font-size: 1.5em;
  height: 0;
  width: 100%;
  transition: height 250ms ease;
  text-align: center;
  line-height: 1.5em;
  color: #888;
  overflow: hidden;
}
.cards-nav-content .search-result.searching .searching {
  margin-top: calc(.5em / 1.5);
  height: 1.5em;
}
